body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f3;
    color: #333;
}
nav {
    
    background: #29c55d; /* Цвет фона меню */
    padding: 10px; /* Отступы внутри меню */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

nav a {
    color: white; /* Цвет текста кнопок */
    padding: 10px 15px; /* Отступы для кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 5px; /* Отступы между кнопками */
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background 0.3s; /* Плавный переход цвета */
}

nav a:hover {
    background: #19a337; /* Цвет фона при наведении */
}
.map-container {
    width: 100%;
    height: 500px; /* Высота карты */
    width: 1162px;
    margin: 20px 20px; /* Отступы сверху и снизу */
    background: white;
    border-radius: 30px;
    padding: 20px;
    box-sizing: content-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
.container {
    max-width: 1200px;
    max-height: 800px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}
footer {
    background: linear-gradient(135deg, #29c55d 0%, #1b8c3e 100%);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
h2 {
    color: #29c55d;
    margin-bottom: 20px;
    text-align: center;
}
h1, h2, h3 {
    animation: fadeIn 0.5s; /* Появление заголовков */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
