body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f3;
    color: #333;
}
nav {
    
    background: #29c55d; /* Цвет фона меню */
    padding: 10px; /* Отступы внутри меню */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

nav a {
    color: white; /* Цвет текста кнопок */
    padding: 10px 15px; /* Отступы для кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 5px; /* Отступы между кнопками */
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background 0.3s; /* Плавный переход цвета */
}

nav a:hover {
    background: #19a337; /* Цвет фона при наведении */
}

p {
    font-size: 20px;  /* размер шрифта */
    line-height: 24px;  /* высота строки (1,5 * 16px) */
}
h2 {
  color: #29c55d;
  margin-bottom: 20px;
}
footer {
    background: #29c55d; /* Цвет фона */
    color: white;
    text-align: center;    
    position: fixed; /* Закрепляет footer внизу */
    left: 0; /* Прикрепляет к левому краю */
    bottom: 0; /* Прикрепляет к нижнему краю */
    width: 100%; /* Занимает всю ширину */
    padding: 10px 0; /* Отступы для footer */
    z-index: 1000; /* Убедитесь, что footer будет поверх других элементов */
    animation: slideIn 0.5s; /* Появление footer */
}
.assignments {
    margin: 40px 350px;
    text-align: center;
    background: white;
    width: 1200px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
h1, h2, h3 {
    animation: fadeIn 0.5s; /* Появление заголовков */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
h3 {
    color: #141414;
    margin-bottom: 20px;
}
.button {
    background-color: #29c55d;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #1b8c3e;
}


